* {
  margin: 0;
  padding: 0;
}
.clickable {
  cursor: pointer;
  cursor: hand;
}
a {
  color: #000;
  text-decoration: underline;
  display: block;
  font-size: 18px;
  margin: 0 0 0px 0;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a.button {
  display: block;
  background-color: black;
  width: 100px;
  color: white;
  padding: 15px 30px;
  margin: 10px auto;
  border-radius: 50px;
  text-decoration: none;
}
div.link-list {
  margin-top: 10px;
}
div.link-list a{
  margin-bottom: 20px;
}
body {
  background-color: #ffffff;
  color: #000;
  font-family: Times;
  font-weight: 300;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

a.new-link {
  margin-bottom: 20px;
}
#main_content {
  margin: 0 auto 50px;
  padding: 0 25px 25px;
  text-align: left;
}

div.social_links a {
  margin: 5px auto;
  display: inline-block;
  text-indent: -9999px;
  background-size: 35px;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
}
h1 {
  font-size: 22px;
  font-weight: normal;
  line-height: 28px;
  color: #777777;
}
h1.subheader {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #000000;
}
h1.song_title {
  margin-bottom: 5px;
}
h3 {
  margin-top: 0;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
}
div#soundcloud_embed {
  width: 100%;
}
div.feature_image img {
  width: 100%;
  margin: 0 auto 20px;
}
p {
  color: #777777;
  margin: 10px 0 0 0;
  font-size: 18px;
}
p.date {
  margin-top: 10px;
  font-size: 10px;
  color: #9a9a9a;
}
p.email {
  margin: 0 0 0 0;
  font-size: 16px;
  width: 100%;
}
a.logo {
  display: block;
  text-indent: -9999px;
  max-width: 160px;
  height: 70px;
  margin: 50px 0 20px 0;
  background-image: url("icon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
a.footer-logo{
  display: block;
  text-indent: -9999px;
  max-width: 80px;
  height: 30px;
  margin: 50px 0 20px 0;
  background-image: url("icon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
div.section {
  margin-bottom: 50px;
}
div.release-info {
  padding-top: 2px;
  margin-left: 90px;
  min-height: 90px;
}
p.release-title {
  font-size: 22px;
  margin-bottom: 5px;
  letter-spacing: normal;
  color: #000000;
}
a.release-link {
  font-size: 16px;
  color: #777777;
}
div.release-item {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 15px;
  max-width: 500px;
}
img.release-image {
  width: 75px;
  float: left;
}
div.performance-item {
  border-bottom: 1px solid #c4c4c4;
  margin-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
}
p.performance-date-title {
  color: #000000;
  font-size: 20px;
  margin: 0 0 10px 0;
  letter-spacing: normal;
}

div.more_image img {
  width: 100%;
}

div#footer {
  max-width: 300px;
}
span.tiny {
  font-size: 12px;
}

/* Tablet Styles */
@media all and (min-width: 768px){
  #main_content {
    max-width: 768px;
  }
}


/* Desktop Styles */
@media all and (min-width: 1090px){

}
